# 1 - Knowing the data

## 1.1 - Importing libraries

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('data.csv')
data.head()

   State  Sex  Age  Color  Years Studying  Income    Height
0     11    0   23      8              12     800  1.603808
1     11    1   23      2              12    1150  1.739790
2     11    1   35      8              15     880  1.760444
3     11    0   46      2               6    3500  1.783158
4     11    1   47      8               9     150  1.690631

## 1.2 - Types of data

### Ordinal **Qualitative** Variables

Variables that can be ordered or hierarchical

In [6]:
sorted(data['Years Studying'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

### Nominal **Qualitative** Variables

Variables that cannot be ordered nor hierarchical

In [7]:
sorted(data['State'].unique())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [8]:
sorted(data['Sex'].unique())

[0, 1]

In [9]:
sorted(data['Color'].unique())

[0, 2, 4, 6, 8]

### Discrete **Quantitative** Variables

Variables that represent countable numbers that form a finite/enumerable set

In [11]:
print('From %s to %s years' % (data['Age'].min(), data['Age'].max()))

From 13 to 99 years

### Continuous **Quantitative** Variables

Variables that represent numbers withing a continuous scale

In [13]:
print('From %s to %s meters high' % (data['Height'].min(), data['Height'].max()))

From 1.339244614 to 2.028496765 meters high

# 2 - Frequency Distribution